<h1><%= "#{t('messages.editing')} #{@kind.class.model_name.human(count: 1 )}" %></h1>

<%= render 'form', kind: @kind %>

<%= link_to t('buttons.show'), @kind %> |
<%= link_to t('buttons.back'), kinds_path %>
